.info-usuario{
    display: flex;
    background-color: #541fbf;
    color: white;
    font-family: 'Arial Narrow Bold';
    padding-right: 30%;
    margin:auto;
    width: 50%;
}
.button-comprar{
    background-color: #541fbf;
    border: none;
    border-radius: 13px;
    color: white;
    height: 30px;
    width: 100px;
    position:relative;
    left:150px;
}
#section-main-perfil{
    border: none;
    position: relative;
    width: 10%;
    height: 30%;
    left:100px;
}