@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
/*--------------------------- BARRA DE NAVEGACION -----------------------*/
nav{
    display: flex;
    background: #8148F4;
    height: 50%;

    color: white;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    padding-right: 10%;
}
nav h1{
    margin: auto 20px;
    font-size: 3em;
    font-family: 'Anton', sans-serif;
}
nav ul li{
    list-style: none;
    float: left;
    margin: auto 20px;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
}
nav ul{
    margin: auto 0;
    /*margin-right: 10%;*/
}
nav ul li:hover{
    cursor: pointer;
    border-bottom: white solid;
}
.fa-solid{
    color: white;
}
nav a{
    margin: auto;
    text-decoration: none;
    color: white;
}
nav a:hover{
    opacity: 0.4;
    cursor: pointer;
}
.iconos{
    position: absolute;
    right: 10%;
    top: 5%;
}
.iconos i{
    margin: 0 10px;
}
/*------------------------ CUERPO DEL CONTENEDOR PRINCIPAL ------------------------*/
.container{
    margin: auto;
    width: 95%;
}
/*----------------------- PAGINA INDEX ----------------------------------------------*/
.button-portada{
    background-color: #8C52FF;
    border: none;
    border-radius: 13px;
    color: white;
    height: 30px;
}
.button-general{
    background-color: #8C52FF;
    border: none;
    border-radius: 13px;
    color: white;
    height: 30px;
    width: 100px;
}
.carro{
    width: 150px;
}
.button-icon-facebook{
    background-color: #3b5998;
    border: none;
    border-radius: 50px;
    color: white;
    height: 20px;
    width: 10%;
    height: 10%;
}
.button-icon-google{
    background-color: white;
    border: 1px;
    border-radius: 50px;
    color: #4285F4;
    height: 20px;
    width: 10%;
    height: 10%;
}
.button-general:hover{
    opacity: 0.8;
    cursor: pointer;
}
.button-registro{
    background-color: #3f7028;
    border: 1px;
    border-radius: 13px;
    color: white;
    height: 30px;
    width: 100px;
}
.portadas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    height: 100%;
}
.portadas-banner{
    display: block;
    text-align: center;
    width: 50%;
    height: 230px;
    margin: 3% 0;
}
.portadas-banner img{
    border: 1px dotted;
    border-radius: 10px;
    height: 180px;
    width: 100%;
}
.portadas-banner h3{
    margin: 0;
    font-size: medium;
    color: #000;
}
.portadas-banner:hover{
    opacity: 0.8;
}
.bordes{
    border-radius:  20px; 
    
}
.propiedades-texto{
    position: absolute;
    top: 45%;
    left: 25%;
    text-align: center,justify;
}
.centro{
    text-align: center;
}
textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}
.centrado-hijo{
    display: flex;
  min-height: 30vh;
  margin: 0;
  align-content: center;
}
.button-salir{
    background-color: #6632cf;
    border: none;
    border-radius: 20px;
    color: white;
    height: 30px;
    width: 100px;
    position:relative;
    left:1200px;
}
/*---------------------FORMULARIOS-----------------------------*/
.formulario{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
#formularioLogin{
    width: 30%;
    margin: auto;
}
.formulario__h2{
    text-align: center;
    grid-column: span 2;
}
.formulario__grupo{
    font-size: small;
    padding: 10px
}
.formulario__grupo-incorrecto label{
    color: red;
}
.formulario__grupo-incorrecto input{
    border: 1px solid red;
}
.formulario__label{
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: left;
}
.formulario__label:hover{
    cursor: pointer;
}
.formulario__grupo-input{
    /*border: 4px solid black;*/
    position: relative;
}
.formulario__error{
    position: absolute;
    color: red;
    left: 95%;
    z-index: 100;
    top: 27%;
    visibility: hidden;
}
.formulario__error-activado{
    position: absolute;
    color: red;
    left: 95%;
    z-index: 100;
    top: 27%;
    visibility: visible;
}
.formulario__input{
    height: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    transition: .3s ease all;
}
.formulario__textarea{
    height: 75px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    transition: .3s ease all;
}
.formulario__textarea:focus{
    border: 1px solid #8C52FF;
    outline: none;
}
.formulario__input:focus{
    border: 1px solid #8C52FF;
    outline: none;
}
.formulario__button{
    text-align: center;
    grid-column: span 2;
}
.formulario__grupo-error{
    display: none;
}
.formulario__grupo-error-activado{
    display: block;
}
.formulario__grupo-error p{
    margin: 0;
    color: red;
}
.formulario__grupo-error-activado p{
    margin: 0;
    color: red;
}
/*------FILE*/
.file__botton.file__input-botton{
    border: 10000px solid transparent;
    cursor: pointer;
    font-size: 10000px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
}
.formulario__button-mensaje{
    display: flex;
    font-size: small;
    width: 100%;
    height: 35px;
    background-color: red;
    margin: 10px auto;
    justify-content: center;
    border-radius: 7px;
    display: none;
}
.formulario__button-mensaje-activado{
    display: flex;
}
.formulario__warning, .formulario__button-mensaje p{
    margin: auto 2px;
    color: black;
}
/*--------------------FILE------------------------------*/
.file__botton {
    position: relative;
    display: inline-block;

  }

  .file__botton {
    background-color: #8C52FF;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width:100%;
  }
  /*-------------Buscador de contenido------------*/
    .buscar{
        position:relative;
        border:black solid 1px;
        z-index: 100;
        /* top :20px; */
        /* left :800px; */
        padding:5px;
    }
    .buscar input{
        width:0px;
        height:35px;
        padding:0 20px;
        font-size: 12px;
        color: #000;
        outline: none;
        border:1px solid rgb(255, 255, 255);
        border-radius: 30px;
        transition: all 0.6s ease;
        visibility: hidden;
    }
    .buscar i{
        position:absolute;
        left:50%;
    }
    /* .btn{ 
        width:20px;
        height:20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        background: #440000;
        top:0;
        right:0;
        color:white;
        font-size: 20px;
        border-radius: 50%;
        cursor:pointer;
    }
    */
    .buscar:hover{
        /* width:240px; */
        opacity: 1;
    }
    .buscar input:focus{
        width:240px;
        visibility: visible;
    }
    /*--------------------------------------TABLAS------------------------------------*/
    table{
        margin: auto;
        margin-top: 1%;
        text-align: left;
        width: 90%;
        border-collapse: collapse;
    }
    table th{
        background-color: #8148F4;
        color: white;
    }
    th, td{
        padding: 0;
    }
    tr:nth-child(even){
        background-color: #ddd;
    }
    tr:hover{
        background-color: #8148F4;
    }
/*--------------------------LOGIN-------------------------------*/
.infoUsuario{
    text-align: center;
}
.usuario-principal{
    display: flex;
    margin: 5% 10% 2% 10%;
    border: rgb(201, 201, 201) solid 1px;
}
.usuario-principal img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
}
.usuario-principal h1{
    font-size: 2.34375rem;
    margin-left: 1rem;
}
.usuario-principal button{
    margin-top: 4%;
    margin-left: 5%;
}
.usuario-secundario{
    margin: 0 10%;
    border: rgb(201, 201, 201) solid 1px;
    text-align: center;
    margin-bottom: 2%;
}
.usuario-secundario p{
    margin: 2px;
}
.usuario-secundario h3{
    margin: 10px;
}